:root {
    --bs-primary: #595cd9;
    --appfit-base-rounded: 0.65rem;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f8f9fa;
}

/* Custom class names */
.rounded-lg {
    border-radius: var(--appfit-base-rounded);
}

.rounded-top-lg {
    border-top-left-radius: var(--appfit-base-rounded);
    border-top-right-radius: var(--appfit-base-rounded);
}

.h-screen {
    height: 100dvh;
}

.px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
}