@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 text-center bg-body-tertiary rounded-3">
    <img class="mt-4 mb-3" width="100" height="100" src="~/icon.png" alt="Appfit Logo" />
    <h1 class="text-body-emphasis">Appfit - Your new gym app</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        Appfit is a gym app with affordable plans that can help you become the best version of yourself and achieve your fitness goals.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
        <button class="d-inline-flex align-items-center btn btn-dark btn-lg px-4 rounded-pill" type="button">
            Get started
            <svg class="bi bi-arrow-right-short ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
            </svg>
        </button>
        <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
            Where we are?
        </button>
    </div>
</div>

<div class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Plans</h1>
        <p class="fs-5 text-body-light">
            Get a monthly gym membership and enjoy all the benefits, plus free personal training.
        </p>
    </div>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Starter</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">€12<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Access to all gym facilities</li>
                            <li>Personalized workout plan</li>
                            <li>Free beginner classes</li>
                            <li>Gym access 24/7</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Get started</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                    <div class="card-header py-3 text-bg-dark border-dark">
                        <h4 class="my-0 fw-normal">Hero</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">€30<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Five people, all perks from Duo Plan.</li>
                            <li>Family fitness classes.</li>
                            <li>Book early for classes and equipment.</li>
                            <li>Family fitness consultation</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-dark">Get started</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">€24<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Two people, all perks from Individual Plan.</li>
                            <li>Personal training at a discount.</li>
                            <li>Free intermediate classes.</li>
                            <li>Flexible check-in options for both members</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Get started</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>